* {
  margin: 0;
  padding:0;
  transition: all .1s ease-in;
}

html, body, main {
   height: 100%;
}

body {
  color:white;
  font-family: Trebuchet, Arial, sans-serif;
  font-size:14px;
  margin: 15px;
  background-size: 100%;
/*   font:14px/12 Arial, Helvetica, sans-serif; */
  line-height: 25px;
}

header {
/*   paddind : 10px; */
  background: #4A4F56;  
  color: #EB7E7F;
  text-align: center;
  padding: 20px;
}

header h2 {
  font-size: 15px;
  font-weight: normal;
}

main {
  background:#3B3F45;
  display: inline-block;  
  width: 100%;
}

form {
  width: 66%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: block;
  padding:  10px;
  background: #88839E;
  
  /*border-top: 2px solid;
  border-bottom: 2px solid; 
  border-color: #88839E;*/
   
  vertical-align: middle ;
  /*font-size: 0px;*/
}

label:nth-child(even) {
  background: #7A7593;
  border-color: #7A7593;
}

label:hover {
   border-top: 2px solid;
  border-bottom: 2px solid;  
  border-color: white;
  background-color: #625E77;
}

label:active {
  background-color: #EB7E7F;
}

span {  
  vertical-align: inherit ;
  font-size: 20px;
}

span:nth-child(2n) {
  margin-left: 7px;
}

span:nth-child(2n+3) {
  font-size: 12px;
}

span:nth-child(2n+3):not(:empty)::before {
  content: "(";
}

span:nth-child(2n+3):not(:empty)::after {
  content: ")";
}


input {
  width: 20px;
  height: 20px;
  margin: 5px;
  vertical-align: inherit ;
  font-size: 0px;
}

input:checked ~span {
  text-decoration-line: line-through;
  color: #A3A0B5;
}

input[type=submit]  {
  margin: 30px 0 0 0;
  color: #EB7E7F;
  font-size: 20px;
  background-color: #4A4F56;
  height: 50px;
  width: 100%;
  border:0;
}




