.button {
    background: red;
    border: none;
    font-family: @fontFamily;
    font-size: 18px;
    color: white;
    padding: 0;
    /*так как все кнопки одинаковьіе*/
    width: 200px;
    height: 58px;
    &__form {
        border-radius: 0 5px 5px 0;
    }
    &__service {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffd800;
        text-decoration: none;
        
        width: 100%;
        height: 100%;

        font-size: 13px;
        font-weight: 700;
        color: #150a0c;
    }
}