.main-form {
    display: flex;
    justify-content: center;
    width: 570px;
    height: 58px;
    // border-radius: 50%;
    // border: 2px solid green;
    &_input {
        width: 370px;
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        border-radius: 5px 0 0 5px;
        padding-left: 20px;
        font-size: 14px;
        color: #a6a6a6;
        &::placeholder {
            // text-align: center;
            // padding-left: 20px;
            // font-size: 14px;
            // color: #a6a6a6;
            border: none;
        }
    }
}