.main-form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 58px;
    &_input {
        width: 370px;
        // height: 100%;
        flex-shrink: 0;
        border: none;
        &::placeholder {
            // text-align: center;
            padding-left: 20px;
            font-size: 14px;
            color: #a6a6a6;
            border: none;
        }
    }
}