.header {
	background: url(../img/header_bg.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	min-width: 1170px;
	padding: 0 calc((100% - 1170px) /2);
	color: white;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
	&_logo {
		display: flex;
	}
	&_logo-title{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 16px;
		&:after {
			content: "";
			width: 290px;
			height: 2px;
			background-color: white;
			order: 1;
		}
	}
	&_logo-title-ru {
		order: 0;
	}
	&_logo-title-en {
		order: 2;
	}
	&::before {
		content: "";
		background-color: rgba(91, 83, 84, 0.7);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
	}
	&_header, &_title, &_form, &_scrol {
		z-index: 1;
	}
	&_header {
		align-self: stretch;
		display: flex;
		justify-content: space-between; 
		margin-top: 26px;
	}
	
	&_tel, &_email {
		text-align: end;
		
	}
	&_tel {
		font-size: 18px;
		line-height: 1em;
		margin-bottom: 5px;
	}
	&_email {
		display: block;
		font-size: 13px;
		line-height: 13px;
		color: white;
	}
	&_title {
		font-size: 40px;
		line-height: 60px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin: 0 100px;
	}
	&_form {
		width: 100%;
		margin: 0 auto ;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_form-title {
		margin-bottom: 35px;
		font-size: 20px;
		letter-spacing: 2px;
	}
	&_form-title-mark {
		font-weight: 700;
		color: #ffea73;
	}
	&_scrol {
		background: rgba(31, 27, 26, 0.5);
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 28px;
		margin-bottom: 65px;
	}
	&_scroll-icon {
		margin: 20px 13px 5px 13px;
	}
	&_scroll-arr1-icon, &_scroll-arr2-icon {
		margin-bottom: -5px;
	}
	&_scroll-arr3-icon {
		margin-bottom: 20px;
	}
}