.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_section{
        width: 1170px;
        margin: 50px auto;
        &__bg-white {
            background: white;
        }
        &__reception {
            background: url(../img/reception_bg.jpg) no-repeat;
            
        }
        &__helping2 {            
            background: url(../img/reception_bg.jpg) no-repeat;         
        }

        &__reception, &__helping2  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 490px;
            background-size: cover;
            position: relative;
            &::before {
                content: "";
                background-color: rgba(91, 83, 84, 0.7);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
            }
        }
    }
    &_section-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: #262626;
        margin-bottom: 30px;
        z-index: 1;
        &__violation {
            font-size: 36px;
            line-height: 40px;
            width: 770px;
            
            margin-left: auto;
            margin-right: auto;
            // text-align: center;
            // color: #262626;
        }
        &__reception, &__helping2  {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700px;
            color: white;
            margin-bottom: 100px;
        }
        
    }
    &_section-title-mark {
        color: #ffd800;
    }
	&_section-content {
        
        display: grid;
        grid-gap: 30px;

        &__helping {
            grid-template-columns: repeat(3, 370px);
            grid-template-rows: repeat(2, 340px);
        }

        &__service {
            grid-template-columns: repeat(4, 270px);
            grid-template-rows: repeat(1, 270px);
        }
        &__violation {
            grid-template-columns: repeat(3, 370px);
            grid-template-rows: repeat(2, 430px);
        }        
    }
    &_section-form {
        z-index: 1;
    }
}