.problem-object {
    text-decoration: none;
    color: @mainColor;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    &__active {
        background-color: white;
        font-weight: 700;
    }
    &:hover{
        color: #733840;
        background-color: #f8f8f8;
    }
}