.service {
    background: white;
    &_image {
        position: relative;
    }
    &_button {
        position: absolute;
        top: auto;
        left: 70px;
        bottom: 30px;     

    }
    &_title {
        height: 93px;
        color: #242728;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        &__article-text {
            height: 183px;
            margin-top: 20px;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 20px;
            color: #575757;
        }
    }

}