.service {
    background: white;
    &_pic {
        position: relative;
    }
    &_image {
        &__problem {
            margin: 50px 70px 0;
        }
    }
    &_button {
        width: 230px;
        height: 45px;
        position: absolute;
        left: 0;
        bottom: 30px;     
        right: 0;
        margin: auto;
    }
    &_title {
        height: 93px;
        color: #242728;
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        &__helping {
            font-weight: 600;
        }
        &__problem {
            font-size: 24px;
            justify-content: flex-start;
            font-weight: 700;
            width: 630px;
            margin: 0 auto;
        }
    }
    &_text {
        &__problem {
            font-size: 14px;
            line-height: 22px;
            color: @mainColor;
            width: 630px;
            margin: 0 auto;
            height: 100%;
        }
        &__violation {
            height: 183px;
            margin-top: 20px;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 20px;
            color: @mainColor;
        }
    }
    
}